$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.main-mono-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20%;
  height: 100%;
  text-align: center;
  font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
  font-size: 12rem;
  font-weight: 800;
}

.bootstrap {
  @extend .main-mono-message;
  background: #058843;
  color: #ddd;
}

.question {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  color: #ddd;
  text-align: center;
}

.question-text {
  font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
  font-size: 12rem;
  font-weight: 800;
}

.singleText {
  padding-top: 20%;
}

.text-and-image > .question-text {
  display: block;
}

.question-number {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 10px 10px;
}

.question-delay {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 10px 10px 0;
}

.no-activity {
  @extend .main-mono-message;
  background: #7d0404;
  color: #ddd;
}

